<div class="container-fluid content-row">
    <div class="row d-flex">
        <div class="col-sm-12 col-lg-6">
            <div class="card card-dashboard bg-gray-lighter" *ngIf="widgetDetails"
                style="height:100%;">
                <div class="card-header actions bg-white" style="justify-content: center;">
                    <div class="text-warning action-btn" [ngSwitch]="widgetDetails.actionCode">
                        <button class="btn btn-clean btn-icon btn-md"
                            title="Update - Latest version available - {{widgetDetails.version}}" *ngSwitchCase="'001'">
                            <i c8yIcon="cloud-upload" class="widget-action-icon"
                                (click)="updateWidget(widgetDetails, false)"></i>
                        </button>
                        <button class="btn btn-clean btn-icon btn-md" title="Update (Not Compatible)"
                            *ngSwitchCase="'002'">
                            <i c8yIcon="level-up" class="widget-action-icon"
                                (click)="updateWidget(widgetDetails, false)"></i>
                        </button>
                        <button class="btn btn-clean btn-icon btn-md" title="Refresh" *ngSwitchCase="'003'">
                            <i c8yIcon="refresh" class="widget-action-icon text-info" (click)="refresh('update')"></i>
                        </button>
                    </div>
                    <div class="action-btn">
                        <i *ngIf="!widgetDetails.isCompatible || widgetDetails.isDeprecated"
                            title="This widget may not compatible or deprecated!" c8yIcon="warning"
                            class="deprecate-icon text-warning"></i>
                    </div>
                    <div class="card-title" style="align-items: center; color: #0B385B">
                        <i [c8yIcon]="widgetDetails.icon"></i>&ensp;{{widgetDetails.title}}
                    </div>
                    <div style="position: absolute;top: 40px;">
                        <span class="label label-primary"
                            *ngIf="widgetDetails.installedVersion">{{widgetDetails.installedVersion}}</span>
                        <span class="label label-primary" *ngIf="!widgetDetails.installedVersion">Not Available</span>
                    </div>
                    <div class="text-info" style="position: absolute; right: 60px;">
                        <button class="btn btn-clean btn-icon btn-md" title="Preview"
                            [disabled]="!widgetDetails.preview"><i c8yIcon="eye" class="widget-action-icon"
                                (click)="preview(widgetDetails.preview)"></i></button>
                    </div>
                    <div class="text-info" style="position: absolute; right: 30px;">
                        <button class="btn btn-clean btn-icon btn-md" title="Documentation"
                            [disabled]="!widgetDetails.repository"><i c8yIcon="document-with-code"
                                class="widget-action-icon"
                                (click)="openDocumentation(widgetDetails.repository)"></i></button>
                    </div>
                    <div *ngIf="userHasAdminRights" class="text-warning" [ngSwitch]="widgetDetails.actionCode"
                        style="position: absolute; right: 10px;">
                        <div title="Refresh" *ngSwitchCase="'003'">
                            <i c8yIcon="refresh" class="widget-action-icon text-info" (click)="refresh('uninstall')"></i>
                        </div>
                        <div class="text-danger" title="Uninstall Widget" *ngSwitchDefault><i class="widget-action-icon"
                                c8yIcon="minus-circle" (click)="uninstallWidget(widgetDetails)"></i></div>
                    </div>
                </div>
                <div class="card-block bg-white" style="overflow-y: scroll;height: 100%; max-height: 340px;">
                    <div class="card-block bg-white" >
                        <a (click)="preview(widgetDetails.preview)" class="cursor-pointer">
                            <img class="widget-details-preview"
                                [src]="widgetDetails.preview ? widgetDetails.preview : ''" />
                        </a>
                    </div>
                </div>
                <div class="card-block bg-gray-lighter">
                    <!-- <div class="row" style="min-height: 40px; margin-top: 10px;">
                        <label class="col-xs-5 large" style="margin-top:10px">Current Version</label>
                        <p class="col-xs-7 large" style="margin-top:10px" *ngIf="widgetDetails.installedVersion">
                            {{widgetDetails.installedVersion}}</p>
                        <p class="col-xs-7 large" style="margin-top:10px" *ngIf="!widgetDetails.installedVersion">
                            Not Available
                        </p>
                    </div>
                    <div class="row" style="min-height: 40px; margin-top: 10px;">
                        <label class="col-xs-5 large" style="margin-top:10px">Latest Version</label>
                        <p class="col-xs-7 large" style="margin-top:10px">{{widgetDetails.version}}</p>
                    </div> -->
                    <div class="row" style="min-height: 40px; margin-top:10px; text-align: center;">
                        <span class="label label-default" style="color: black;">{{widgetDetails.license}}</span>
                    </div>
                    <div class="row" style="min-height: 40px; text-align: center;">
                        <span class="fs-12">{{widgetDetails.author}}</span>
                    </div>
                    <!-- <div class="row" style="min-height: 40px; margin-top: 10px;">
                        <label class="col-xs-5 large" style="margin-top:10px">License</label>
                        <p class="col-xs-7 large" style="margin-top:10px">{{widgetDetails.license}}</p>
                    </div>
                    <div class="row" style="min-height: 40px; margin-top: 10px;">
                        <label class="col-xs-5 large" style="margin-top:10px">Author</label>
                        <p class="col-xs-7 large" style="margin-top:10px">{{widgetDetails.author}}</p>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="card card-dashboard bg-gray-lighter" *ngIf="widgetDetails"
                style="height:100%;">
                <div class="card-header actions bg-white">
                    <div class="card-title" style="color: #0B385B">
                        About
                    </div>
                </div>
                <div class="card-block bg-white" style="height:100%;max-height: 390px;">
                    <p style="line-height: 1.6;">&emsp;This widget 'Smart map settings' is created using Angular
                        Library and can be deployed in App Builder and Cockpit as a cumulocity widget. It allows you to
                        mark and create a Geography on specified location. After the Geography is created, it allows to
                        create floors, Geofences and device positioning. This widget is used as configuration for Smart
                        Map widget.</p>
                </div>
                <div class="card-footer separator bg-gray-lighter">
                    <button class="btn btn-primary" style="margin-top:10px"
                        (click)="openDocumentation(widgetDetails.repository)">Learn
                        More >></button>
                </div>
            </div>
        </div>
    </div>
</div>