.table.table-sm td {
    padding: 4px;
}
.table.table-sm th {
     padding: 4px;
 }

.rounded-pill {
    border-radius: 50rem !important;
}

.align-middle {
    vertical-align: middle !important;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-right {
    margin-left: auto;
}

.collada-label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white
}

.collada-label a {
    color: white
}

.collada-label a[href] {
    text-decoration: underline;
}