<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="c8y-prompt alert alert-warning" [ngClass]="[colorStatusClass()]">
      <h3 class="m-b-16">
        <i c8y-icon="exclamation-circle" class="dlt-c8y-icon-exclamation-circle"></i>
        <span ng-show="title">{{message.title}}</span>
      </h3>
      <p class="modal-inner-scroll text-break-word" style="white-space: pre-line;" ng-bind-html="body | translate">
        {{message.description}}
      </p><br>

      <div class="alert-footer">
        <a *ngIf="message.externalLink && message.externalLink !== ''" [href]="message.externalLink" target="_blank"
          class="btn btn-info pull-left" role="button">{{message.externalLinkLabel}}</a>
        <button *ngIf="message.alertType === 'confirm'" title="Cancel" class="btn btn-default"
          [ngClass]="{'btn-primary': !message.confirmPrimary}" (click)="dismiss()">
          Cancel
        </button>
        <button *ngIf="message.alertType !== 'confirm' && message.alertType !== 'maintenance'" title="Ok"
          class="btn btn-primary" (click)="dismiss()">
          Ok
        </button>
        <button *ngIf="message.alertType === 'confirm'" title="Confirm" class="btn btn-default"
          [ngClass]="{'btn-primary': message.confirmPrimary}" (click)="confirm()">
          Confirm
        </button>
        <button *ngIf="message.alertType === 'maintenance'" title="Logout" class="btn btn-primary" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
  </div>
</div>