<c8y-title>Home</c8y-title>
<div class="card-group interact-grid">
    <div class="col-xs-12 col-sm-8 col-md-8">
      <div class="card-group" >
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="card-header">
                        <h2 class="text-light home-margin-top-20" translate="">Welcome to Application Builder</h2>
                    </div>
                    <div class="card-block">
                        <p>Application Builder is an open-source tool for you to <b>create web applications</b> in a <b>no-code environment</b>. It's being managed by the Software AG Global Presales team but not officially supported by Software AG. You can find the source code on <a [href]="getURL('source')" target="_blank">Software AG Open Source</a>.</p>
                        <br>
                        <p>Application Builder also allows you to,</p>
                        <p class="home-margin-top-5">
                            <img src="./images/c8y-app-color-dropper.png" class="home-welcome-icon"> Re-brand the applications.</p>
                        <p class="home-margin-top-5"><img src="./images/c8y-app-simulate.png" class="home-welcome-icon">Simulate devices.</p>
                      <!--   <p class="home-margin-top-5"><img src="./images/c8y-app-installing-updates.png" class="home-welcome-icon">Install Widget Plugins via Widget Catalog.</p> -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <img src= "./images/c8y-app-image.svg" class="home-welcome-image">
                </div>
            </div>
        </div>
        <div class="">
            <div class="col-xs-12 col-sm-6 col-md-6"> 
                <div class="card home-wdiget-card">
                    <div class="card-header">
                        Blueprint Forge &nbsp; <span class="badge badge-success">New</span>
                    </div>
                    <div class="card-block">
                        <div class="row home-widget-body">
                            <div class="col-xs-4 col-sm-2 col-md-2">
                               <button class="btn btn-clean" (click)="openLink('blueprintForge')" ><i style="font-size: 36px;" class="c8y-icon c8y-icon-solution-accelerator"></i></button> 
                            </div>
                            <div class="col-xs-8 col-sm-10 col-md-10">
                                Blueprint Forge provides a simple, coding-free way to build a cumulocity application using pre-built solution templates. 
                                <button class="btn btn-xs btn-primary" (click)="openLink('blueprintForge')"  >Learn  More >></button>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6"> 
                <div class="row card home-wdiget-card" >
                    <!-- <div class="card-header">
                        Upgrade Application Builder
                    </div> -->
                    <div class="card-header" *ngIf="!demoCatalogExist">
                        Install Demo Catalog
                    </div>
                    <div class="card-header" *ngIf="demoCatalogExist">
                        Open Demo Catalog
                    </div>
                    <div class="card-block">
                        <div class="row home-widget-body">
                            <div class="col-xs-4 col-sm-2 col-md-2">
                                <img  src="./images/c8y-app-upgrade.png">
                            </div>
                            <div class="col-xs-8 col-sm-10 col-md-10">
                                Discover how you can leverage other demos for your Iot use case <a  href="#" *ngIf="!demoCatalogExist" (click)="installDemoCatalog()" target="_self" >Install Demo Catalog</a>
                                <a  href="#" *ngIf="demoCatalogExist" (click)="openDemoCatalog()" target="_self" >Open Demo Catalog</a>
                            </div>
                            <!-- <div class="col-xs-8 col-sm-10 col-md-10">
                                Find the latest release of Application Builder on <a [href]="getURL('source')" target="_blank" >Software AG Open Source</a>.
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="card" >
            <div class="card-header">
                Quick Start Videos
            </div>
            <div class="card-block" >
                <div *ngFor="let media of mediaList"  class="row home-video" (click)="openLink(media.key)">
                    <div class="col-xs-4 col-sm-2 col-md-2">
                        <img  src="./images/c8y-app-play.png">
                    </div>
                    <div class="col-xs-8 col-sm-10 col-md-10 home-video-content">
                       {{media.value}}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="card-group interact-grid" style="margin-top: -10px;">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="card home-wdiget-card">
            <div class="card-header">
                Looking for Support?
            </div>
            <div class="card-block">
                <div class="row home-widget-body home-video-content">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <img  style="margin-right: 35px" (click)="openLink('forum')"  src="./images/c8y-app-query.png">
                        Get your questions answered and stay upto date with the latest news on <a [href]="getURL('forum')" target="_blank">Software AG Tech Community</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>