<c8y-title>Home</c8y-title>
<div class="card-group interact-grid">
    <div class="col-xs-12 col-sm-8 col-md-8">
      <div class="card-group" >
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="card-header">
                        <h2 class="text-light home-margin-top-20" translate="">Welcome to Application Builder</h2>
                    </div>
                    <div class="card-block">
                        <p>Application Builder is an open-source tool for you to <b>create web applications</b> in a <b>no-code environment</b>. It's being managed by the Software AG Global Presales team but not officially supported by Software AG. You can find the source code on <a href="#" (click)="openLink('source')">Software AG Open Source</a>.</p>
                        <br>
                        <p>Application Builder also allows you to,</p>
                        <p class="home-margin-top-5">
                            <img src="./images/c8y-app-color-dropper.png" class="home-welcome-icon"> Re-brand the applications.</p>
                        <p class="home-margin-top-5"><img src="./images/c8y-app-simulate.png" class="home-welcome-icon">Simulate devices.</p>
                        <p class="home-margin-top-5"><img src="./images/c8y-app-installing-updates.png" class="home-welcome-icon">Install runtime widgets.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <img src= "./images/c8y-app-image.svg" class="home-welcome-image">
                </div>
            </div>
        </div>
        <div class="">
            <div class="col-xs-12 col-sm-6 col-md-6"> 
                <div class="card home-wdiget-card">
                    <div class="card-header">
                        Find Runtime Widgets
                    </div>
                    <div class="card-block">
                        <div class="row home-widget-body">
                            <div class="col-xs-4 col-sm-2 col-md-2">
                                <img  (click)="openLink('widget')"  src="./images/c8y-app-installing-updates.png">
                            </div>
                            <div class="col-xs-8 col-sm-10 col-md-10">
                                Find runtime widgets that can be directly installed inside Application Builder at <a href="#"  (click)="openLink('widget')">Software AG Open Source</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6"> 
                <div class="row card home-wdiget-card" >
                    <div class="card-header">
                        Upgrade Application Builder
                    </div>
                    <div class="card-block">
                        <div class="row home-widget-body">
                            <div class="col-xs-4 col-sm-2 col-md-2">
                                <img  (click)="openLink('source')"  src="./images/c8y-app-upgrade.png">
                            </div>
                            <div class="col-xs-8 col-sm-10 col-md-10">
                                Find the latest release of Application Builder on <a href="#" (click)="openLink('source')" >Software AG Open Source</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="card" >
            <div class="card-header">
                Quick Start Videos
            </div>
            <div class="card-block" >
                <div *ngFor="let media of mediaList"  class="row home-video" (click)="openLink(media.key)">
                    <div class="col-xs-4 col-sm-2 col-md-2">
                        <img  src="./images/c8y-app-play.png">
                    </div>
                    <div class="col-xs-8 col-sm-10 col-md-10 home-video-content">
                       {{media.value}}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="card-group interact-grid" style="margin-top: -10px;">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="card home-wdiget-card">
            <div class="card-header">
                Looking for Support?
            </div>
            <div class="card-block">
                <div class="row home-widget-body home-video-content">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <img  style="margin-right: 35px" (click)="openLink('forum')"  src="./images/c8y-app-query.png">
                        Get your questions answered and stay upto date with the latest news on <a href="#" (click)="openLink('forum')">Software AG Tech Community</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>