<c8y-title>Widget Catalog</c8y-title>
<c8y-action-bar-item [placement]="'left'">
    <ul class="nav navbar-nav navbar-left">
        <li class="hidden-xs navbar-form">
            <div class="form-group">
                <label class="m-r-8"> Display as </label>
                <div class="c8y-select-wrapper">
                    <select class="form-control" [(ngModel)]="displayListValue" id="getMoreWidgetDropdown"
                        (change)="displayList($event.target.value)">
                        <option value="1">Grid</option>
                        <option value="2">List</option>
                    </select>
                </div>
            </div>
        </li>
    </ul>
</c8y-action-bar-item>
<div *ngIf="isBusy" class="col-xs-12 col-sm-12 col-md-12" style="padding-bottom:50px;padding-top:20px">
    <rectangle-spinner style="position: relative; left: 47%;">
    </rectangle-spinner>
</div>
<div class="card-group interact-grid" *ngIf="!isBusy && displayListValue !== '1'">
    <div class="card-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <!-- Search -->
                    <div id="searchWidget" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 input-group input-group-search">
                        <input type="search" class="form-control" placeholder="Search widget..."
                            [(ngModel)]="searchWidget" (keyup)="applyFilter()" />
                        <span class="input-group-addon">
                            <i c8yIcon="search" *ngIf="!searchString || searchString.length === 0"></i>
                            <i c8yIcon="times" class="text-muted" *ngIf="searchWidget && searchWidget.length > 0"
                                (click)="searchWidget = '';applyFilter() "></i>
                        </span>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <button class="btn btn-link pull-right" id="refresh-widget" (click)="reload()">
                            <i c8yIcon="refresh"></i> Reload
                        </button>
                        <div class="btn-group pull-right">
                            <label class="c8y-switch danger">
                                <input type="checkbox" [(ngModel)]="showAllWidgets" (change)="toggleCompatible()">
                                <span></span> Show All
                            </label>
                        </div>

                        <!--  <button *ngIf="!selectMultipe" class="btn btn-clean pull-right" style="padding: 6px 8px;" id="update-widget" [disabled]="true" >
                                    <i c8yIcon="upload" style="font-size: 16px;" ></i> Install
                                </button>
                                <button *ngIf="selectMultipe" class="btn btn-link pull-right" id="update-widget" (click)="installMultiple()">
                                    <i c8yIcon="upload" style="font-size: 16px;" ></i> Install
                                </button>
                                <label class="c8y-switch pull-right" title="Select Multiple">
                                    <input type="checkbox" [(ngModel)]="selectMultipe"/>
                                    <span></span> Select multiple
                                  </label> -->
                    </div>

                </div>
                <hr />
                <div class="card-block">
                    <div class="text-center" style="flex-direction: column; align-items: center;"
                        *ngIf="!widgetCatalog?.widgets?.length">
                        <h1 c8yIcon="package" class="c8y-icon-duocolor" style="font-size: 90px;"></h1>
                        <h3>No Widget to list.</h3>
                        <p>Please try after sometimes.</p>
                    </div>
                    <div class="text-center" style="flex-direction: column; align-items: center;"
                        *ngIf="!filterWidgets?.length">
                        <h3>No Widget to list.</h3>
                    </div>
                    <div class="table-responsive" *ngIf="filterWidgets?.length" style="margin-top: -15px;">
                        <table class="table table-hover table-striped table-sortable" id="getMoreWidgets">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="cursor-pointer" style="text-transform: capitalize;" (click)="sortColumn('title')" [ngClass]="sortClass('title')">Widget</th>
                                    <th class="cursor-pointer" style="text-transform: capitalize;" (click)="sortColumn('version')" [ngClass]="sortClass('version')">Latest Version</th>
                                    <th class="cursor-pointer" style="text-transform: capitalize;" (click)="sortColumn('requiredPlatformVersion')" [ngClass]="sortClass('requiredPlatformVersion')">Supported C8Y Platforms</th>
                                    <th class="cursor-pointer" style="text-transform: capitalize;" (click)="sortColumn('license')" [ngClass]="sortClass('license')">License</th>
                                    <th class="cursor-pointer" style="text-transform: capitalize;" (click)="sortColumn('releaseDate')" [ngClass]="sortClass('releaseDate')">Release Date</th>
                                    <th class="cursor-pointer" style="text-transform: capitalize;" (click)="sortColumn('pluginType')" [ngClass]="sortClass('pluginType')">Type</th>
                                    <th class="cursor-pointer" style="text-transform: capitalize;" (click)="sortColumn('author')" [ngClass]="sortClass('author')">Author</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let widget of filterWidgets">
                                    <td>
                                        <ng-container [ngSwitch]="widget.actionCode">
                                            <button class="btn btn-clean btn-icon btn-md text-warning verticalAlign" title="Install"
                                                *ngSwitchCase="'001'">
                                                <i c8yIcon="upload" class="action-icon"
                                                    (click)="installWidget(widget, false)"></i>
                                            </button>
                                            <button class="btn btn-clean btn-icon btn-md text-warning verticalAlign"
                                                title="Install (Not Compatible)" *ngSwitchCase="'002'">
                                                <i c8yIcon="level-up" class="action-icon"
                                                    (click)="installWidget(widget, false)"></i>
                                            </button>
                                            <button class="btn btn-clean btn-icon btn-md text-warning verticalAlign" title="Refresh"
                                                *ngSwitchCase="'003'">
                                                <i c8yIcon="refresh" class="action-icon text-info"
                                                    (click)="refresh()"></i>
                                            </button>
                                            <button class="invisible btn btn-clean btn-icon btn-md text-warning verticalAlign" title="Refresh"
                                                *ngSwitchDefault>
                                                <i c8yIcon="refresh" class="action-icon text-info"
                                                    (click)="refresh()"></i>
                                            </button>
                                        </ng-container>
                                        <i class="widget-icon" [c8yIcon]="widget.icon"></i>
                                    </td>
                                    <td style="font-size: 12px;word-wrap: break-word;">{{widget.title}}
                                        <i *ngIf="!widget.isCompatible || widget.isDeprecated"
                                            title="This widget may not compatible or deprecated!" c8yIcon="warning"
                                            class="warning-icon text-warning"></i>
                                    </td>
                                    <td style="font-size: 12px;">{{widget.version}}</td>
                                    <td style="font-size: 12px;">{{widget.requiredPlatformVersion}}</td>
                                    <td style="font-size: 12px;">{{widget.license}}</td>
                                    <td style="font-size: 12px;">{{widget.releaseDate | date : "dd-MM-yyyy"}}</td>
                                    <td style="font-size: 12px;text-transform:capitalize;" *ngIf="widget.pluginType"><span class="label label-info">{{widget.pluginType}}</span></td>
                                    <td style="font-size: 12px;">{{widget.author}}</td>
                                    <td>
                                        <div>
                                            <button class="text-info btn btn-clean btn-icon btn-md" title="Preview"
                                                [disabled]="!widget.preview"><i c8yIcon="eye" class="action-icon-button"
                                                    (click)="preview(widget.preview)"></i></button>
                                            <button class="text-info btn btn-clean btn-icon btn-md"
                                                title="Documentation" [disabled]="!widget.repository"
                                                style="padding: 0;"><i c8yIcon="document-with-code"
                                                    class="action-icon-button"
                                                    (click)="openDocumentation(widget.repository)"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isBusy && displayListValue === '1'">
    <div class="card-group interact-grid col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <!-- Search -->
                    <div id="searchWidget" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 input-group input-group-search">
                        <input type="search" class="form-control" placeholder="Search widget..."
                            [(ngModel)]="searchWidget" (keyup)="applyFilter()" />
                        <span class="input-group-addon">
                            <i c8yIcon="search" *ngIf="!searchString || searchString.length === 0"></i>
                            <i c8yIcon="times" class="text-muted" *ngIf="searchWidget && searchWidget.length > 0"
                                (click)="searchWidget = '';applyFilter() "></i>
                        </span>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <button class="btn btn-link pull-right" id="refresh-widget" (click)="reload()">
                            <i c8yIcon="refresh"></i> Reload
                        </button>
                        <div class="btn-group pull-right">
                            <label class="c8y-switch danger">
                                <input type="checkbox" [(ngModel)]="showAllWidgets" (change)="toggleCompatible()">
                                <span></span> Show All
                            </label>
                        </div>

                        <!--  <button *ngIf="!selectMultipe" class="btn btn-clean pull-right" style="padding: 6px 8px;" id="update-widget" [disabled]="true" >
                                    <i c8yIcon="upload" style="font-size: 16px;" ></i> Install
                                </button>
                                <button *ngIf="selectMultipe" class="btn btn-link pull-right" id="update-widget" (click)="installMultiple()">
                                    <i c8yIcon="upload" style="font-size: 16px;" ></i> Install
                                </button>
                                <label class="c8y-switch pull-right" title="Select Multiple">
                                    <input type="checkbox" [(ngModel)]="selectMultipe"/>
                                    <span></span> Select multiple
                                  </label> -->
                    </div>

                </div>
                <hr />
                <div class="card-block" *ngIf="!widgetCatalog?.widgets?.length">
                    <div class="c8y-empty-state text-center" style="flex-direction: column; align-items: center;">
                        <h1 c8yIcon="package" class="c8y-icon-duocolor" style="font-size: 90px;"></h1>
                        <h3>No Widget to list.</h3>
                        <p>Please Install widgets.</p>
                    </div>
                    <div class="c8y-empty-state text-center" style="flex-direction: column; align-items: center;"
                        *ngIf="widgetCatalog?.widgets?.length && !filterWidgets?.length">
                        <h3>No Widget to list.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-group interact-grid col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="filterWidgets?.length > 0">
        <div class="col-xs-12 col-sm-4 col-md-3" *ngFor="let widget of filterWidgets">
            <div class="card">
                <div class="dropdown card-actions" dropdown (click)="$event.stopPropagation()"
                    style="z-index: 1;cursor: pointer;">
                    <button type="button" title="Settings" id="appSettings-{{widget.name}}"
                        class="dropdown-toggle c8y-dropdown cursor-pointer" dropdownToggle>
                        <i c8yIcon="ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu role="menu">
                        <li role="menuitem" [ngStyle]="widget.repository ? {'cursor': 'pointer'} : {'cursor': 'not-allowed'}">
                            <a (click)="openDocumentation(widget.repository)" class="dropdown-item clickable fs-12" [class.disabled]="!widget.repository">
                                <i c8yIcon="external-link"></i> Documentation
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-actions" style="left: 0px !important; top: 15px !important">
                    <div class="text-warning" [ngSwitch]="widget.actionCode">
                        <button class="btn btn-clean btn-icon btn-md"
                            title="Install" *ngSwitchCase="'001'">
                            <i c8yIcon="upload" class="action-icon-grid" (click)="installWidget(widget, false)"></i>
                        </button>
                        <button class="btn btn-clean btn-icon btn-md" title="Install (Not Compatible)"
                            *ngSwitchCase="'002'">
                            <i c8yIcon="level-up" class="action-icon-grid" (click)="installWidget(widget, false)"></i>
                        </button>
                        <button class="btn btn-clean btn-icon btn-md" *ngSwitchCase="'003'" title="Refresh">
                            <i c8yIcon="refresh" class="action-icon-grid text-info" (click)="refresh()"></i>
                        </button>
                    </div>
                </div>
                <div class="card-block text-center card-column-30">
                    <div style="display:block; width:95%;">
                        <i *ngIf="!widget.isCompatible || widget.isDeprecated"
                        title="This widget may not compatible or deprecated!" c8yIcon="warning"
                        class="wi-grid text-warning"></i>
                        <i [c8yIcon]="widget.icon" style="margin-right: 5px;"></i>
                        <span title="{{widget.title}}" class="text-medium">{{widget.title}} </span>
                    </div>
                    <div style="margin-bottom:5px">
                        <span class="label label-primary"
                            *ngIf="widget.version">{{widget.version}}</span>
                    </div>
                    <div>
                        <a (click)="preview(widget.preview)" class="cursor-pointer">
                            <img class="preview-img" [src]="widget.preview && widget.preview !== '' ? widget.preview : './img/no-image.png'" />
                        </a>
                    </div>
                    <div style="float:left" class="margin-10">
                        <span class="label label-info" *ngIf="widget.pluginType" style="text-transform:capitalize;">{{widget.pluginType}}</span>
                    </div>
                    <button class="btn btn-xs btn-default margin-10" style="float:right" (click)="navigateToDetailPage(widget)">
                        <i c8yicon="more-details" title="Details" class="dlt-c8y-icon-more-details"></i> Details
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>