<div class="modal-header text-center bg-primary">
    <h4 *ngIf="isCatalogDisplayed()" class="text-uppercase" style="margin:0; letter-spacing: 0.15em;">Dashboard Catalog
    </h4>
    <h4 *ngIf="isDetailPageDisplayed()" class="text-uppercase" style="margin:0; letter-spacing: 0.15em;">
        {{selectedTemplate?.title}}</h4>
</div>
<div class="modal-body">
    <rectangle-spinner *ngIf="isLoadingIndicatorDisplayed" style="position: relative; left: 47%; top: 200px;">
    </rectangle-spinner>

    <div *ngIf="isCatalogDisplayed()" >
        <div class="">
            <div class="card-header">
            <!-- Search -->
            <div id="searchWidget" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 input-group input-group-search" style="padding-right: 0px;padding-left: 0px;">
                <input
                type="search"
                class="form-control"
                placeholder="Search Dashboard..."
                [(ngModel)]="searchTemplate"
                (keyup)="applyFilter()"
                />
                <span class="input-group-addon">
                <i c8yIcon="search" *ngIf="!searchString || searchString.length === 0"></i>
                <i
                    c8yIcon="times"
                    class="text-muted"
                    *ngIf="searchTemplate && searchTemplate.length > 0"
                    (click)="searchTemplate = '';applyFilter() "
                ></i>
                </span>
            </div>
            </div>
        </div>
        <div class="row  modal-inner-scroll " style="padding-bottom: 20px;">
        <div *ngFor="let template of filterTemplates" class="col-md-4 col-sm-6 col-xs-12 card-demo-container">
            <div class="flip-card">
                <div class="card-demo flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-image"
                            [src]="template?.thumbnail && template?.thumbnail != '' ? template?.thumbnail : './img/placeholder.png'" />
                        <div class="card-data">
                            <h3 [title]="template?.title">
                                <b>{{ template?.title }} </b>
                            </h3>
                        </div>
                        <div *ngIf="template.comingSoon==true" class="flip-card-font-coming-soon">
                        </div>
                        <div *ngIf="template.comingSoon==true" class="coming-soon-tag">Coming soon</div>
                    </div>
                    <div class="flip-card-back" [ngClass]="template.comingSoon==true?'coming-soon-back':''">
                        <div *ngIf="template.comingSoon==true" class="coming-soon-tag-backside">Coming Soon</div>
                        <div class="card-desc">
                            {{template?.description?template?.description:'No description available'}}
                        </div>
                        <div *ngIf="template.comingSoon==false" class="button-grp">
                            <button type="button" class="btn btn-default btn-sm" style="width: 100%;"
                                (click)="onTemplateClicked(template)">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div *ngIf="isDetailPageDisplayed() && templateDetails" class="row template-detail-container modal-inner-scroll">
        <div class="col-md-12 template-description">
            <p>{{templateDetails.description}}</p>
        </div>
        <div class="col-md-5">
            <form name="newDashboardCreationForm" #newDashboardCreationForm="ngForm" class="">
                <div class="form-group">
                    <label for="name"><span>Path</span></label>
                    <div class="row ">
                        <div class="col-xs-6">
                            <ng-select [items]="app.applicationBuilder.dashboards"  bindLabel="name" bindValue="name" id="pathPrefix" name="pathPrefix" [multiple]="false" [closeOnSelect]="true" [searchable]="true"
                            placeholder="Path(Optional)"  [appendTo]="(appendTo ?  appendTo : 'body')" [(ngModel)]="dashboardPath" >
                            </ng-select>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="name" name="name"
                            placeholder="path/name (required)" required
                            [(ngModel)]="dashboardConfiguration.dashboardName">
                        </div>
                   </div>
                </div>

                <div class="form-group">
                    <label for="icon"><span>Icon</span></label>
                    <icon-selector id="icon" name="icon" [(value)]="dashboardConfiguration.dashboardIcon" appendTo=".modal-content">
                    </icon-selector>
                </div>

                <div class="form-group">
                    <label for="visibility"><span>Visibility</span></label>
                    <select name="visibility" id="visibility" [(ngModel)]="dashboardConfiguration.dashboardVisibility">
                        <option value="">Navigation and Tabs</option>
                        <option value="no-nav">Tabs Only</option>
                        <option value="hidden">Hidden</option>
                    </select>
                </div>

                <div *ngIf="templateDetails.input?.devices?.length > 0">
                    <div class="form-group" *ngFor="let device of templateDetails.input.devices; let i = index">
                        <label for="device"><span>Device/Sensor/Asset - Type: {{device.type}}</span></label>
                        <div class="input-group">
                            <input type="text" [readonly]="true" name="selected-device" class="form-control" id="selected-device" 
                            placeholder="Device/Group/Asset/Type" [ngModel]="templateDetails.input.devices[i].reprensentation?.name"/>
                            <div class="input-group-btn dropdown" dropdown>
                              <button type="button" dropdownToggle class="btn btn-primary dropdown-toggle c8y-dropdown">
                                <span >{{assetButtonText}}</span>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                                <li><button type="button" (click)="openDeviceSelectorDialog(i, 0)">Device/Asset</button></li>
                                <li><button type="button"(click)="openDeviceSelectorDialog(i, 1)">Device Group</button></li>
                                <li><button type="button"(click)="openDeviceSelectorDialog(i, 2)">Device/Asset Type</button></li>
                              </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="form-group" *ngIf="!groupTemplate else groupTemplateTabGroup">
                    <label for="tabgroup"><span>Tab Group</span></label>
                    <input type="text" class="form-control" id="tabgroup" name="tabgroup" placeholder="e.g. TabGroup1" [(ngModel)]="dashboardConfiguration.tabGroup">
                </div>
                <ng-template #groupTemplateTabGroup>
                <div class="form-group">
                    <label for="tabgroup"><span>Tab Group</span></label>
                    <select name="tabgroup" id="tabgroup" [(ngModel)]="dashboardConfiguration.tabGroup">
                        <option value="deviceId">Device ID</option>
                        <option value="">None</option>
                    </select>
                </div>
                </ng-template>


                <div class="form-group">
                    <label for="globalRoles"><span>Global Roles (Optional)</span> 
                        <button class="btn btn-link">
                            <i c8y-icon="question-circle-o"  class="dlt-c8y-icon-question-circle-o" tooltip="Global Roles grant permissions on a dashboard level."></i>
                        </button>
                    </label> 
                    <ng-select  [items]="globalRoles" name="globalRole" id="globalRole"  bindLabel="name" [multiple]="true" [closeOnSelect]="false" [searchable]="true"
                    placeholder="select Role(s)" [(ngModel)]="dashboardConfiguration.roles"  [appendTo]="'.modal-content'"  >
                    </ng-select>
                </div>
                <div *ngIf="templateDetails.input?.images?.length > 0">
                    <div class="form-group" *ngFor="let image of templateDetails.input.images; let i = index">
                        <label for="exampleInputFile">Image - Type: {{image.type}}</label>
                        <input type="file" id="exampleInputFile" aria-describedby="helpinput" class="form-control"
                            (change)="onImageSelected($event.target.files, i)" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-7">
            <div *ngIf="templateDetails.dtdl">
                <button  type="button" style="margin-left: 10px; float: right;"
                            class="btn btn-primary btn-xs btn-icon" (click)="downloadDTDL(templateDetails.dtdl)">
                            <i class="fa fa-cloud-download"></i>
                            DTDL</button>
            </div>
            <div class="template-preview">
                <label for="Preview"><span>Preview:</span></label>
                <img style="width: 100%;" [src]="templateDetails.preview" />
            </div>
            <div *ngIf="templateDetails.input?.dependencies?.length > 0">
                <label for="Depedencies"><span>Dependencies:</span></label>
                <ul class="list-group">
                    <ng-container *ngFor="let dependency of templateDetails.input.dependencies; let i = index" >
                    <li *ngIf="dependency.visible && dependency.type !== 'microservice'" class="list-group-item">
                            <span *ngIf="dependency.isInstalled" class="badge badge-success">INSTALLED</span>
                            <span *ngIf="!dependency.isInstalled" class="badge badge-danger">NOT INSTALLED</span>
                            <a href="{{dependency.repository}}" target="_blank">{{dependency.title}}
                            <span *ngIf="dependency.type" class="badge badge-info">{{dependency.type}}</span></a>
                            <button *ngIf="!dependency.isInstalled && dependency.isSupported" type="button" style="margin-left: 10px"
                                class="btn btn-primary btn-xs btn-icon" (click)="installDependency(dependency)">
                                <i class="fa fa-cloud-download"></i>
                                Install</button>
                            <button *ngIf="!dependency.isInstalled && !dependency.isSupported" disabled type="button" style="margin-left: 10px"
                                class="btn btn-xs btn-icon">
                                <i class="fa fa-warning"></i>
                                Not supported!</button>
                    </li>

                    <li *ngIf="dependency.visible && dependency.type === 'microservice'" class="list-group-item">
                            <span *ngIf="dependency.isInstalled" class="badge badge-success">INSTALLED</span>
                            <span *ngIf="!dependency.isInstalled" class="badge badge-danger">NOT INSTALLED</span>
                            <a href="{{dependency.repository}}" target="_blank">{{dependency.title}}
                            <span *ngIf="dependency.type" class="badge badge-info">{{dependency.type}}</span></a>
                            <button *ngIf="!dependency.isInstalled && dependency.isSupported && isMSEnabled" type="button" style="margin-left: 10px"
                                class="btn btn-primary btn-xs btn-icon" (click)="installDependency(dependency)">
                                <i class="fa fa-cloud-download"></i>
                                Install</button>
                            <button *ngIf="(!dependency.isInstalled && !dependency.isSupported) || !isMSEnabled" disabled type="button" style="margin-left: 10px"
                                class="btn btn-xs btn-icon">
                                <i class="fa fa-warning"></i>
                                Not supported!</button>
                    </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button *ngIf="isDetailPageDisplayed() && !this.dashboard" type="button" class="btn btn-default"
        (click)="onBackButtonClicked()">Back</button>
    <button type="button" class="btn btn-default" (click)="onCancelButtonClicked()">Cancel</button>
    <button *ngIf="isDetailPageDisplayed()" type="button" class="btn btn-primary" (click)="onSaveButtonClicked()"
        [disabled]="!isSaveButtonEnabled()">Create</button>
</div>