<c8y-title>Configuration</c8y-title>

<ng-container *ngIf="app | async as app">
    <c8y-action-bar-item [placement]="'right'">
        <button class="btn btn-link" *ngIf="showAddDashboard" (click)="showCreateDashboardDialog(app)"
            id="addDashboardButton">
            <i c8yIcon="plus-circle"></i> Add dashboard
        </button>
        <button *ngIf="isDashboardCatalogEnabled" id="addDashboardCatalogButton" class="btn btn-link"
            (click)="showTemplateCatalogModalDialog(app)">
            <i c8yIcon="book"></i> Dashboard catalog
        </button>
    </c8y-action-bar-item>

    <div class="card-group">
        <div class="col-xs-12 col-md-5">
            <div class="card" [ngClass]="{'card-color': applyTheme}">
                <div class="card-header">
                    <h2 class="text-light" style="margin-top: 20px;" translate="">Application Configuration</h2>
                </div>
                <div class="card-block">
                    <p>Here you can adjust the name, icon and navigation used in your application</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-7">
            <div class="card" [ngClass]="{'card-color': applyTheme}">
                <div class="card-header">
                    <h4 translate>Details</h4>
                </div>
                <hr />
                <div class="card-block">
                    <form name="editAppBuilderAppForm" #editAppBuilderAppForm="ngForm">
                        <div class="form-group">
                            <label for="name" [ngClass]="{'label-color': applyTheme}"><span>Name</span></label>
                            <input type="text" class="form-control" id="name" name="name"
                                placeholder="e.g. My First Application (required)" required [(ngModel)]="newAppName">
                        </div>

                        <div class="form-group" *ngIf="app.contextPath != undefined">
                            <label for="contextpath" [ngClass]="{'label-color': applyTheme}"><span>Context
                                    Path</span></label>
                            <input type="text" class="form-control" id="contextpath" name="contextpath"
                                placeholder="e.g. my-app (required)" required [(ngModel)]="newAppContextPath">
                        </div>

                        <div class="form-group">
                            <label for="icon" [ngClass]="{'label-color': applyTheme}"><span>Icon</span></label>
                            <icon-selector id="icon" name="icon" [(value)]="newAppIcon"></icon-selector>
                        </div>
                    </form>
                    <button class="btn btn-primary" id="saveApplicationDetails"
                        [disabled]="!editAppBuilderAppForm.form.valid" (click)="saveAppChanges(app)">Save</button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #itemTemplate let-item="item" let-index="index">
        <div *ngIf="filterValue === ''" class="drag-handle"><i class="fa custom-icon-drag-handle"></i></div>
        <div class="col col-overflow" title="{{item.value.name}}">{{item.value.name}}</div>
        <div class="col col-overflow" title="{{item.value.id}}" id="dashboard-id-{{item.value.name}}-{{index}}">
            {{item.value.id}}<a class="copy-dashboard" title="Copy Dashboard ID" (click)="copyDashboardID(item.value.id)"><i c8yIcon="copy"></i></a>
        </div>
        <div class="col col-overflow">{{item.value.visibility === 'no-nav' ? 'Tabs Only' :
            item.value.visibility === 'hidden' ? 'Hidden': item.value.visibility}}</div>
        <div class="col col-overflow" title="{{item.value.tabGroup}}">{{item.value.tabGroup}}</div>
        <div class="col col-overflow">
            <span *ngFor="let role of item.value.roles" title="{{role.name}}">
                {{role.name}} <br>
            </span>
        </div>
        <div class="col col-overflow"><i [c8yIcon]="item.value.icon"></i> {{item.value.icon}}</div>
        <div class="col col-overflow" title="{{item.value.deviceId}}">{{item.value.groupTemplate ? 'Children of: ' :
            ''}}{{item.value.deviceId || '-'}}</div>
        <div>
            <a id="editDashboardButton-{{item.value.id}}" title="Edit Dashboard"
                (click)="showEditDashboardDialog(app, filteredDashboardList, index)"><i style="font-size:18px;cursor: pointer;"
                    c8yIcon="edit"></i></a>
            <a id="deleteDashboardButton-{{item.value.id}}" title="Delete Dashboard"
                (click)="deleteDashboard(app, filteredDashboardList, index)" style="margin-left:20px"><i
                    c8yIcon="delete" style="font-size:18px;cursor: pointer;"></i></a>
        </div>
    </ng-template>
    <div class="card-group">
        <div class="col-xs-12">
            <div class="card" [ngClass]="{'card-color': applyTheme}">
                <div class="card-header">
                    <h4 translate>Dashboards</h4>
                    <div class="c8y-select-wrapper" style="margin-left: 20px;">
                        <select class="form-control" [(ngModel)]="defaultListView" style="border-radius:20px;"
                            id="dashboardView" (change)="displayList($event.target.value, app)">
                            <option value="1">Tree View</option>
                            <option value="2">List View</option>
                        </select>
                    </div>
                    <div id="search" class="input-group input-group-search searchBar" *ngIf="defaultListView === '2'">
                        <input type="search" class="form-control dashboardInputTheme"
                            placeholder="Enter text to search..." (keyup)="searchDashboard(app)"
                            [(ngModel)]="filterValue" />
                        <span class="input-group-addon">
                            <i c8yIcon="search" *ngIf="!filterValue || filterValue.length === 0"></i>
                            <i c8yIcon="times" class="text-muted" *ngIf="filterValue && filterValue.length > 0"
                                (click)="filterValue= '';searchDashboard(app)"></i>
                        </span>
                    </div>
                    <div id="search" class="searchBar input-group input-group-search" *ngIf="defaultListView === '1'">
                        <input type="search" class="form-control dashboardInputTheme"
                            placeholder="Enter text to search..." (keyup)="searchInTreeDashboard(app)"
                            [(ngModel)]="filterValueForTree" />
                        <span class="input-group-addon">
                            <i c8yIcon="search" *ngIf="!filterValueForTree || filterValueForTree.length === 0"></i>
                            <i c8yIcon="times" class="text-muted"
                                *ngIf="filterValueForTree && filterValueForTree.length > 0"
                                (click)="filterValueForTree= '';searchInTreeDashboard(app)"></i>
                        </span>
                    </div>
                    <div class="lockUnlockToggle">
                        <button class="btn btn-default" [(ngModel)]="autoLockDashboard"
                            title="Lock/Unlock All Dashboards"
                            [disabled]="app.applicationBuilder.dashboards.length === 0"
                            (ngModelChange)="lockAllDashboards(app, $event)" btnCheckbox tabindex="0">
                            <i class="dlt-c8y-icon-unlock" *ngIf="!autoLockDashboard"></i>
                            <i class="dlt-c8y-icon-lock" *ngIf="autoLockDashboard"></i>
                        </button>
                    </div>
                </div>
                <hr />
                <div class="card-block">
                    <div class="c8y-empty-state text-center"
                        style="max-width: 100%;flex-direction: column; align-items: center;"
                        *ngIf="!app.applicationBuilder.dashboards?.length">
                        <h1 c8yIcon="c8y-chart" class="c8y-icon-duocolor" style="font-size: 90px;"></h1>
                        <h3>No dashboards to list.</h3>
                        <p>Please add dashboards to this application.</p>
                        <button class="btn btn-primary" *ngIf="showAddDashboard" id="addDashboardPrimaryButton"
                            style="margin-top: 10px;" (click)="showCreateDashboardDialog(app)">Add dashboard</button>
                    </div>
                    <div class="flex-grow" *ngIf="app.applicationBuilder.dashboards?.length && defaultListView === '1'">
                        <div class="tree-table-heading">
                            <div class="col-sm-1" style="width:4%"></div>
                            <div class="font-bold col-sm-2">
                                <div class="pt-15">Path</div>
                            </div>
                            <div class="font-bold col-sm-2">
                                <div class="pt-15">Dashboard ID</div>
                            </div>
                            <div class="font-bold col-sm-1">
                                <div class="pt-15">Visibility</div>
                            </div>
                            <div class="font-bold col-sm-1">
                                <div class="pt-15">Tab Group</div>
                            </div>
                            <div class="font-bold col-sm-2">
                                <div class="pt-15">Global Roles</div>
                            </div>
                            <div class="font-bold col-sm-2">
                                <div class="pt-15">Device(s)</div>
                            </div>
                            <div class="col-sm-1">
                                <div class="pt-15">
                                    <i style="font-size:18px;" title="Edit Dashboard" c8yIcon="edit"></i>
                                    <i c8yIcon="delete" title="Delete Dashboard"
                                        style="font-size:18px;margin-left:20px"></i>
                                </div>
                            </div>
                            <i [c8yIcon]="!expandAllDashboards ?  'chevron-double-up': 'chevron-double-down'"
                                (click)="expandAllNodes()" class="expandAll"
                                title="{{!expandAllDashboards ?  'Collapse All': 'Expand All'}}"></i>
                        </div>
                        <div class="">
                            <div class="outer-div" cdkDropList [id]="'-1'"
                                [cdkDropListData]="dashboardHierarchy.children" [cdkDropListConnectedTo]="connectedTo"
                                (cdkDropListDropped)="onDragDrop($event)">
                                <ng-container
                                    *ngFor="let node of dashboardHierarchy.children | keyvalue;first as isFirst">
                                    <c8y-dashboard-node #expandRef [node]="node.value" [depth]="0"
                                        [connectedTo]="connectedTo" (itemDrop)="onDragDrop($event)"
                                        (editDashboard)="editDashboardClicked($event)"
                                        (deleteDashboard)="deleteDashboardClicked($event)"
                                        [expandEvent]="expandEventSubject.asObservable()">
                                    </c8y-dashboard-node>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <ng-container
                        *ngIf="app.applicationBuilder.dashboards?.length && filterValue === '' && defaultListView === '2'">
                        <div class="sortable-grid-header">
                            <div *ngIf="filterValue === ''" class="drag-handle invisible"><i
                                    class="fa custom-icon-drag-handle"></i></div>
                            <div class="col">Path</div>
                            <div class="col">Dashboard ID</div>
                            <div class="col">Visibility</div>
                            <div class="col">Tab Group</div>
                            <div class="col">Global Roles</div>
                            <div class="col">Icon</div>
                            <div class="col">Device(s)</div>
                            <div>
                                <i style="font-size:18px;" title="Edit Dashboard" c8yIcon="edit"></i>
                                <i c8yIcon="delete" title="Delete Dashboard"
                                    style="font-size:18px;margin-left:20px"></i>
                            </div>
                        </div>
                        <bs-sortable [(ngModel)]="filteredDashboardList" [itemTemplate]="itemTemplate"
                            itemClass="sortable-item" itemActiveClass="sortable-item-active"
                            wrapperClass="sortable-grid" (onChange)="reorderDashboards(app, $event)"></bs-sortable>
                    </ng-container>
                    <ng-container *ngIf="filterValue !== '' && defaultListView === '2'">
                        <div class="table-responsive listTable">
                            <table class="table listViewTable" [ngClass]="getTableTheme()">
                                <thead>
                                    <tr>
                                        <th class="font-bold pl-30">Path</th>
                                        <th class="font-bold">Dashboard ID</th>
                                        <th class="font-bold">Visibility</th>
                                        <th class="font-bold">Tab Group</th>
                                        <th class="font-bold">Global Roles</th>
                                        <th class="font-bold">Icon</th>
                                        <th class="font-bold">Device(s)</th>
                                        <th>
                                            <i style="font-size:18px;" title="Edit Dashboard" c8yIcon="edit"></i>
                                            <i c8yIcon="delete" title="Delete Dashboard"
                                                style="font-size:18px;margin-left:20px"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of filteredDashboardList;let i=index;">
                                        <td class="pl-30" title="{{item.name}}">{{item.name}}</td>
                                        <td title="{{item.id}}">{{item.id}}<a class="copy-dashboard" title="Copy Dashboard ID" (click)="copyDashboardID(item.id)"><i c8yIcon="copy"></i></a></td>
                                        <td title="{{item.visibility === 'no-nav' ? 'Tabs Only' :
                                        item.visibility === 'hidden' ? 'Hidden': item.visibility}}">{{item.visibility
                                            === 'no-nav' ? 'Tabs Only' :
                                            item.visibility === 'hidden' ? 'Hidden': item.visibility}}</td>
                                        <td title="{{item.tabGroup}}">{{item.tabGroup}}</td>
                                        <td><span *ngFor="let role of item.roles" title="{{role.name}}">
                                                {{role.name}} <br>
                                            </span></td>
                                        <td><i [c8yIcon]="item.icon"></i> {{item.icon}}</td>
                                        <td>
                                            {{item.groupTemplate ? 'Children of: ' :
                                            ''}}{{item.deviceId || '-'}}
                                        </td>
                                        <td>
                                            <a id="editDashboardButton-{{item.id}}" title="Edit Dashboard"
                                                (click)="showEditDashboardDialog(app, filteredDashboardList, i)"><i
                                                    style="font-size:18px;cursor: pointer;" c8yIcon="edit"></i></a>
                                            <a id="deleteDashboardButton-{{item.id}}" title="Delete Dashboard"
                                                (click)="deleteDashboard(app, filteredDashboardList, i)"
                                                style="margin-left:20px"><i c8yIcon="delete"
                                                    style="font-size:18px;cursor: pointer;"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-container>