/*** angular cdk-drop  ***/
.cdk-drop-list-dragging {
    background: rgba(0, 0, 0, 0.2);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*.item .sub-child {
    margin: 1rem;
    padding-top: 5rem;
}*/

.sub-child:last-child {
    border: none;
}

.item {
    position: relative;
    cursor: pointer;
    /*border: 2px solid lightgrey;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;*/
    display: block;
    /*max-height: 40px;*/
    border-top: 1px solid rgba(88, 101, 109, 0.1);
    min-height: 50px;
}

.empty-space {
    visibility: hidden;
    opacity: 0;
    padding-left: 15px;
}

.col {
    flex: 1;
}

/*div.sub-child.collapse.in.show {
    padding: 40px 0px 0px !important;
}*/

.column-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}