/*** angular cdk-drop  ***/
.cdk-drop-list-dragging {
    background: #f2f3f4;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px #d3d4d4,
        0 8px 10px 1px #d3d4d4, 0 3px 14px 2px #d3d4d4;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sub-child {
    border: none;
    display: inline;
}

.item.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item {
    cursor: move;
    /*border: 2px solid lightgrey;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;*/
    display: block;
    /*max-height: 40px;*/
}

.empty-space {
    visibility: hidden;
    opacity: 0;
    padding-left: 15px;
}
.c8y-list__item {
    height: 100%;
    /*max-height: 40px;*/
}
