<c8y-title>Configuration</c8y-title>

<ng-container *ngIf="app | async as app">
    <c8y-action-bar-item [placement]="'right'">
        <button class="btn btn-link" (click)="showCreateDashboardDialog(app)" id="addDashboardButton">
            <i c8yIcon="plus-circle"></i> Add dashboard
        </button>
        <button *ngIf="isDashboardCatalogEnabled" id="addDashboardCatalogButton" class="btn btn-link"
            (click)="showTemplateCatalogModalDialog(app)">
            <i c8yIcon="book"></i> Dashboard catalog
        </button>
    </c8y-action-bar-item>

    <div class="card-group">
        <div class="col-xs-12 col-md-5">
            <div class="card" [ngClass]="{'card-color': applyTheme}">
                <div class="card-header">
                    <h2 class="text-light" style="margin-top: 20px;" translate="">Application Configuration</h2>
                </div>
                <div class="card-block">
                    <p>Here you can adjust the name, icon and navigation used in your application</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-7">
            <div class="card" [ngClass]="{'card-color': applyTheme}">
                <div class="card-header">
                    <h4 translate>Details</h4>
                </div>
                <hr />
                <div class="card-block">
                    <form name="editAppBuilderAppForm" #editAppBuilderAppForm="ngForm">
                        <div class="form-group">
                            <label for="name" [ngClass]="{'label-color': applyTheme}"><span>Name</span></label>
                            <input type="text" class="form-control" id="name" name="name"
                                placeholder="e.g. My First Application (required)" required [(ngModel)]="newAppName">
                        </div>

                        <div class="form-group" *ngIf="app.contextPath != undefined">
                            <label for="contextpath" [ngClass]="{'label-color': applyTheme}"><span>Context
                                    Path</span></label>
                            <input type="text" class="form-control" id="contextpath" name="contextpath"
                                placeholder="e.g. my-app (required)" required [(ngModel)]="newAppContextPath">
                        </div>

                        <div class="form-group">
                            <label for="icon" [ngClass]="{'label-color': applyTheme}"><span>Icon</span></label>
                            <icon-selector id="icon" name="icon" [(value)]="newAppIcon"></icon-selector>
                        </div>
                    </form>
                    <button class="btn btn-primary" id="saveApplicationDetails"
                        [disabled]="!editAppBuilderAppForm.form.valid" (click)="saveAppChanges(app)">Save</button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #itemTemplate let-item="item" let-index="index">
        <div class="drag-handle" draggable="true" (dragover)="onDragAndDrop(index)"><i class="fa custom-icon-drag-handle"></i></div>
        <div class="col col-overflow" title="{{item.value.name}}">{{item.value.name}}</div>
        <div class="col col-overflow" title="{{item.value.id}}" id="dashboard-id-{{item.value.name}}-{{index}}">
            {{item.value.id}}</div>
        <div class="col col-overflow">{{item.value.visibility === 'no-nav' ? 'Tabs Only' :
            item.value.visibility === 'hidden' ? 'Hidden': item.value.visibility}}</div>
        <div class="col col-overflow" title="{{item.value.tabGroup}}">{{item.value.tabGroup}}</div>
        <div class="col col-overflow">
            <span *ngFor="let role of item.value.roles" title="{{role.name}}">
                {{role.name}} <br>
            </span>
        </div>
        <div class="col col-overflow"><i [c8yIcon]="item.value.icon"></i> {{item.value.icon}}</div>
        <div class="col col-overflow" title="{{item.value.deviceId}}">{{item.value.groupTemplate ? 'Children of: ' :
            ''}}{{item.value.deviceId || '-'}}</div>
        <div>
            <button class="btn btn-default" id="editDashboardButton-{{item.value.id}}"
                (click)="showEditDashboardDialog(app, app.applicationBuilder.dashboards, index)">Edit</button>
            <button class="btn btn-default" id="deleteDashboardButton-{{item.value.id}}"
                (click)="deleteDashboard(app, app.applicationBuilder.dashboards, index)">Delete</button>
        </div>
    </ng-template>

    <div class="card-group">

        <div class="col-xs-12">
            <div class="card" [ngClass]="{'card-color': applyTheme}">
                <div class="card-header">
                    <h4 translate>Dashboards</h4>
                    <div id="search" class="input-group input-group-search" style="width: 30%;margin-left: 50px;">
                        <input type="search" class="form-control dashboardInputTheme"
                            placeholder="Enter text to search..." (keyup)="searchDashboard(app)"
                            [(ngModel)]="filterValue" />
                        <span class="input-group-addon">
                            <i c8yIcon="search" *ngIf="!filterValue || filterValue.length === 0"></i>
                            <i c8yIcon="times" class="text-muted" *ngIf="filterValue && filterValue.length > 0"
                                (click)="filterValue= '';searchDashboard(app)"></i>
                        </span>
                    </div>
                    <div style="margin-left: auto;margin-right: 0;display: block;">
                        <button class="btn btn-default" [(ngModel)]="autoLockDashboard"
                            title="Lock/Unlock All Dashboards"
                            [disabled]="app.applicationBuilder.dashboards.length === 0"
                            (ngModelChange)="lockAllDashboards(app, $event)" btnCheckbox tabindex="0"><i
                                class="dlt-c8y-icon-unlock"></i></button>
                    </div>
                </div>
                <hr />
                <div class="card-block">
                    <div class="c8y-empty-state text-center" style="flex-direction: column; align-items: center;"
                        *ngIf="!app.applicationBuilder.dashboards?.length">
                        <h1 c8yIcon="c8y-chart" class="c8y-icon-duocolor" style="font-size: 90px;"></h1>
                        <h3>No dashboards to list.</h3>
                        <p>Please add dashboards to this application.</p>
                        <button class="btn btn-primary" id="addDashboardPrimaryButton" style="margin-top: 10px;"
                            (click)="showCreateDashboardDialog(app)">Add dashboard</button>
                    </div>
                    <ng-container *ngIf="app.applicationBuilder.dashboards?.length">
                        <div class="sortable-grid-header">
                            <div class="drag-handle invisible"><i class="fa custom-icon-drag-handle"></i></div>
                            <div class="col">Path</div>
                            <div class="col">Dashboard ID</div>
                            <div class="col">Visibility</div>
                            <div class="col">Tab Group</div>
                            <div class="col">Global Roles</div>
                            <div class="col">Icon</div>
                            <div class="col">Device(s)</div>
                            <div class="invisible"><button class="btn btn-default">Edit</button><button
                                    class="btn btn-default">Delete</button></div>
                        </div>
                        <bs-sortable [ngModel]="filteredDashboardList" [itemTemplate]="itemTemplate"
                            itemClass="sortable-item" itemActiveClass="sortable-item-active"
                            wrapperClass="sortable-grid" (onChange)="reorderDashboards(app, $event)"></bs-sortable>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-container>