.custom-icon-drag-handle:before {
  content: "\f142 \f142";
  letter-spacing: 0.1em;
}

.sortable-grid-header {
  margin-left: -16px;
  margin-right: -16px;
  padding: 0 16px 5px;
  display: flex;
  font-weight: bold;

  .drag-handle {
    margin-right: 10px;
  }

  .col {
    flex: 1;
  }
}

:host /deep/ .sortable-grid {
  margin-left: -16px;
  margin-right: -16px;
}

:host /deep/ .sortable-item {
  display: flex;
  border-top: 1px solid rgba(88, 101, 109, 0.1);
  padding: 10px 16px;
  
  .drag-handle {
    cursor: grab;
    margin-right: 10px;
  }

  .col {
    flex: 1;
  }

  .col-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a {
    color: var(--brand-dark, #000) !important;
  }
}

.dashboardInputTheme {
  color: #000;
}

.dashboardInputTheme:focus {
  color: #000;
}


.font-bold {
  font-weight: bold;
}

.align-center {
  text-align: center;
}

.outer-div {
  display: block;
}

.mh-45 {
  min-height: 45px;
}

.col {
  flex: 1;
}

.expandAll {
  float: right;
  margin: 15px 2px 5px 5px;
  cursor: pointer;
  font-size: 1.5em;
}

.tree-table-heading {
  margin-top: -10px;
  min-height: 50px;
  display: block;
  margin-left: -12px;
}

.pt-15 {
  padding-top: 15px;
}

.searchBar {
  width: 30%;
  margin-left: 50px;
}

.lockUnlockToggle {
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.listTable {
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
}

.pl-30 {
  padding-left: 30px;
}

.copy-dashboard {
  margin-left: 5px;
  cursor: pointer;
}
.listTable .applyDark {
  background-color: var(--brand-primary, #ffffff);
}
.listTable .applyLight {
  background-color: #ffffff;
}

.applyLight th {
  color: rgb(51, 51, 51) !important;
  text-transform: capitalize !important;
  font-size: 14px !important;
}

.applyLight td {
  color: rgb(51, 51, 51) !important;
}

.applyLight td a{
  color: rgb(51, 51, 51) !important;
}
.applyDark th {
  color: var(--brand-dark, #333) !important;
  text-transform: capitalize;
  font-size: 14px;
}

.applyDark td {
  color: var(--brand-dark, #000) !important;
}

.applyDark td a{
  color: var(--brand-dark, #000) !important;
}
