<div class="modal-header text-center bg-primary">
    <div style="font-size: 62px;">
        <span c8yIcon="c8y-chart"></span>
    </div>
    <h4 class="text-uppercase" style="margin:0; letter-spacing: 0.15em;">Edit Dashboard</h4>
</div>
<div class="c8y-wizard-nav">
    <span>Dashboard Details</span>
</div>
<hr style="margin:0;">
<div class="modal-inner-scroll">
    <form name="editDashboardForm"  #editDashboardForm="ngForm" class="c8y-wizard-form">
        <div class="form-group">
            <label for="dashboardPath"><span>Path</span></label>
            <input type="text" class="form-control" id="dashboardPath" name="dashboardPath" placeholder="e.g. Some Folder/My First Application (required)" required autofocus="true" [(ngModel)]="dashboardName">
        </div>

        <div class="form-group">
            <label for="visibility"><span>Visibility</span></label>
            <select name="visibility" id="visibility" [(ngModel)]="dashboardVisibility">
                <option value="">Navigation and Tabs</option>
                <option value="no-nav">Tabs Only</option>
                <option value="hidden">Hidden</option>
            </select>
        </div>

        <div class="form-group" *ngIf="dashboardType !== 'group-template' else groupTemplateTabGroup">
            <label for="tabgroup"><span>Tab Group</span></label>
            <input type="text" class="form-control" id="tabgroup" name="tabgroup" placeholder="e.g. TabGroup1" [(ngModel)]="tabGroup">
        </div>
        <ng-template #groupTemplateTabGroup>
            <div class="form-group">
                <label for="tabgroup"><span>Tab Group</span></label>
                <select id="tabgroup" name="tabgroup" [(ngModel)]="tabGroup">
                    <option value="deviceId">Device ID</option>
                    <option value="">None</option>
                </select>
            </div>
        </ng-template>
        <div class="form-group">
            <label for="globalRoles"><span>Global Roles (Optional)</span> 
                <button class="btn btn-link">
                    <i c8y-icon="question-circle-o"  class="dlt-c8y-icon-question-circle-o" tooltip="Global Roles grant permissions on a dashboard level."></i>
                </button>
            </label> 
            <ng-select  [items]="globalRoles" name="globalRole"  bindLabel="name"  [multiple]="true" [closeOnSelect]="false" [searchable]="true"
            placeholder="select Role(s)" [(ngModel)]="roles" id="globalRoleEdit" [appendTo]="'.modal-content'"  >
            </ng-select>
        </div>
        <div class="form-group" style="min-height: 50px;"  *ngIf="dashboardType === 'group-template' else nonGroupTemplate">
            <label for="group"><span>Group/Asset/Type </span></label>
            <!-- <input type="text" class="form-control" id="group" name="group" placeholder="e.g. 12345" [(ngModel)]="deviceId"> -->
            <device-selector id="groupId" name="groupId" [isGroup]="true" [isTypeSupport]="true" [(value)]="deviceName" [placeHolder]="'Type your Group Name'" [required]="true"
                    (selectedDevice)= "getSelectedGroup($event)"  (onBlurDevice)= "getSelectedGroup($event)" [isTypeSelected]="(templateType == 2)" 
                    [placeHolderType]="'Enter your Asset/Device type'" (selectedType)= "getSelectedType($event)"  (onBlurType)= "getSelectedType($event)"></device-selector>
        </div>
        <ng-template #nonGroupTemplate>
            <div class="form-group" style="min-height: 50px;" >
                <label for="device"><span>Device/Asset (Optional)</span></label>
                <!-- <input type="text" class="form-control" id="device" name="device" placeholder="e.g. 12345 (optional)" [(ngModel)]="deviceId"> -->
                <device-selector id="device" name="device" [(value)]="deviceName" [placeHolder]="'Type your Device Name'" [required]="false"
                (selectedDevice)= "getSelectedDevice($event)" (onBlurDevice)= "getSelectedDevice($event)"></device-selector>
            </div>
        </ng-template>

        <div class="form-group">
            <label for="icon"><span>Icon</span></label>
            <icon-selector id="icon" name="icon" [(value)]="dashboardIcon" appendTo=".modal-content"></icon-selector>
        </div>
    </form>
</div>
<div class="c8y-wizard-footer">
    <button class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button class="btn btn-primary" id="editDashboardButton" (click)="save()" [disabled]="busy || !editDashboardForm.form.valid">Save</button>
</div>
