<div class="modal-header text-center bg-primary">
    <div class="row" style="height: 100px">
        <rectangle-spinner class="modal-rectangle-spinner"></rectangle-spinner>
    </div>
    <div class="row">
        <h4 class="text-uppercase" style="margin:0; letter-spacing: 0.15em;">{{message}}</h4>
    </div>
    <div *ngIf="progressStatus !== '0'" class="progress progress-striped active " style="margin-top: 30px;">
        <div
          class="progress-bar progress-bar-warning "
          role="progressbar"
          aria-valuemin="0"
          aria-valuemax="100"
          [style.width]="progressStatus"
        >{{progressStatus}}</div>
      </div>
    <div *ngIf="overallProgressStatus !== '0'" class="progress progress-striped active " style="margin-top: 30px;">
        <div
          class="progress-bar progress-bar-success "
          role="progressbar"
          aria-valuemin="0"
          aria-valuemax="100"
          [style.width]="overallProgressStatus"
        >{{overallProgressStatus}}</div>
      </div>
</div>