<div class="modal-header text-center bg-primary">
    <div style="font-size: 62px;">
        <span c8yIcon="c8y-simulator"></span>
    </div>
    <h4 class="text-uppercase" style="margin:0; letter-spacing: 0.15em;">Edit Simulator</h4>
</div>
<div class="c8y-wizard-nav">
    <span>{{simulatorConfig.type}} Simulator Config</span>
</div>
<hr style="margin:0;">
<div class="modal-inner-scroll">
    <form class="c8y-wizard-form" name="editSimulatorForm" #editSimulatorForm="ngForm">
        <div class="form-group">
            <label for="name"><span>Name</span></label>
            <input type="text" class="form-control" id="name" name="name"
                placeholder="e.g. My First Simulator (required)" required
                [(ngModel)]="simulatorConfig.name">
        </div>
          <div class="form-group" style="padding-bottom: 30px;">
              <label for="deviceId"><span>Device ID</span></label>
              <!-- <input type="text" class="form-control" id="deviceId" name="deviceId" required placeholder="e.g. 12345 (required)"
                  [(ngModel)]="simulatorConfig.config.deviceId"> -->
               <device-selector id="deviceId" name="deviceId" [(value)]="simulatorConfig.config.deviceName" [placeHolder]="'Type your Device Name'" [required]="true"
                  (selectedDevice)= "getSelectedDevice($event)"></device-selector>
          </div>
        <ng-container #configWrapper ></ng-container>
    </form>
</div>
<div class="c8y-wizard-footer">
    <button class="btn btn-default" (click)="cancelEdit()">Cancel</button>
    <button class="btn btn-primary" [disabled]="busy || !editSimulatorForm.form.valid  || simulatorConfig.config.deviceId === '' " (click)="saveAndClose()">Save</button>
</div>