<wizard activeStepId="menu">
    <wizard-step stepId="menu">
        <div class="modal-header text-center bg-primary" style="color: var(--brand-dark, #000);">
            <div style="font-size: 62px;">
                <span c8yIcon="c8y-simulator"></span>
            </div>
            <h4 class="text-uppercase" style="margin:0; letter-spacing: 0.15em;">Add Simulator</h4>
        </div>
        <div class="c8y-wizard-nav">
            <span>Select Type</span>
        </div>
        <hr style="margin:0;">
        <div class="modal-inner-scroll">
            <div class="c8y-wizard-list-nav">
                <ng-container *ngFor="let strategyFactory of simulationStrategiesService.strategies">
                    <a class="list-group-item clickable"
                        (click)="selectedStrategyFactory = strategyFactory; wizard.selectStep('device')">
                        <ng-container *ngIf="strategyFactory.getSimulatorMetadata() as strategyMetadata">
                            <span class="list-group-icon">
                                <i [c8yIcon]="strategyMetadata.icon"></i>
                            </span>
                            <span>{{strategyMetadata.name}}</span>
                        </ng-container>
                    </a>
                </ng-container>
                <a class="list-group-item clickable" (click)="wizard.selectStep('import-config')">
                    <span class="list-group-icon">
                        <i c8yIcon="upload"></i>
                    </span>
                    <span>Import existing simulator</span>
                </a>
            </div>
        </div>
        <div class="c8y-wizard-footer">
            <button class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
        </div>
    </wizard-step>
    <wizard-step stepId="import-config">
        <div class="modal-header text-center bg-primary" style="color: var(--brand-dark, #000);">
            <div style="font-size: 62px;">
                <span c8yIcon="c8y-simulator"></span>
            </div>
            <h4 class="text-uppercase" style="margin:0; letter-spacing: 0.15em;">Add Simulator</h4>
        </div>
        <div class="c8y-wizard-nav">
            <span>Import existing simulator</span>
        </div>
        <hr style="margin:0;">
        <div class="modal-inner-scroll">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="configFile"><span>Upload a simulator config file</span></label>
                    <div style="display: inline-flex;">
                        <input type="file" class="form-control" id="configFile" name="configFile"
                            (change)="fileUploaded($event)" accept=".json">
                        <div *ngIf="isConfigFileUploading" style="color:blue;margin: 5px;"><i
                                class="fa fa-circle-o-notch fa-spin"></i></div>
                    </div>
                    <div *ngIf="isConfigFileError" style="color:red;">Invalid simulator config file!</div>
                </div>
            </div>
        </div>
        <div class="c8y-wizard-footer">
            <button class="btn btn-default" (click)="wizard.selectStep('menu')">Back</button>
            <button class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
            <button class="btn btn-primary" (click)="wizard.selectStep('device')"
                [disabled]="!isConfigFromFileUploaded()">Next <i c8yIcon="chevron-right"></i> </button>
        </div>
    </wizard-step>
    <wizard-step stepId="device">
        <div class="modal-header text-center bg-primary" style="color: var(--brand-dark, #000);">
            <div style="font-size: 62px;">
                <span c8yIcon="c8y-simulator"></span>
            </div>
            <h4 class="text-uppercase" style="margin:0; letter-spacing: 0.15em;">Add Simulator</h4>
        </div>
        <div class="c8y-wizard-nav">
            <span>Select Device/Group</span>
        </div>
        <hr style="margin:0;">
        <div class="modal-inner-scroll">
            <div class="c8y-wizard-list-nav">
                <a class="list-group-item clickable" (click)="deviceId = undefined; openSimulatorConfig()">
                    <span class="list-group-icon">
                        <i c8yIcon="plus-circle"></i>
                    </span>
                    <span>New Device</span>
                </a>
                <a class="list-group-item clickable" (click)="wizard.selectStep('select-device')">
                    <span class="list-group-icon">
                        <i c8yIcon="c8y-device"></i>
                    </span>
                    <span>Existing Device</span>
                </a>
                <a class="list-group-item clickable" (click)="isGroup = true; wizard.selectStep('add-group')">
                    <span class="list-group-icon">
                        <i c8yIcon="plus-square"></i>
                    </span>
                    <span>New Group</span>
                </a>
                <a class="list-group-item clickable" (click)="isGroup = true; wizard.selectStep('select-group')">
                    <span class="list-group-icon">
                        <i c8yIcon="object-group"></i>
                    </span>
                    <span>Existing Group</span>
                </a>
            </div>
        </div>
        <div class="c8y-wizard-footer">
            <button class="btn btn-default"
                (click)="configFromFile === undefined ? wizard.selectStep('menu') : wizard.selectStep('import-config')">Back</button>
            <button class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
        </div>
    </wizard-step>
    <wizard-step stepId="add-group">
        <div class="modal-header text-center bg-primary" style="color: var(--brand-dark, #000);">
            <div style="font-size: 62px;">
                <span c8yIcon="c8y-simulator"></span>
            </div>
            <h4 class="text-uppercase" style="margin:0; letter-spacing: 0.15em;">Add Simulator</h4>
        </div>
        <div class="c8y-wizard-nav">
            <span>Add Group</span>
        </div>
        <hr style="margin:0;">
        <div class="modal-inner-scroll" style="min-height: 250px;">
            <form class="c8y-wizard-form" name="newSimulatorFormAddGroup" #newSimulatorFormAddGroup="ngForm">
                <div class="form-group">
                    <label for="groupName"><span>Group Name</span></label>
                    <input type="text" class="form-control" id="groupName" name="groupName"
                        placeholder="e.g. my-group (required)" required autofocus [(ngModel)]="groupName">
                </div>
                <div class="form-group">
                    <label for="numberOfDevice"><span>Number of Devices (max 5)</span></label>
                    <input type="number" max="5" class="form-control" id="numberOfDevice" name="numberOfDevice"
                        placeholder="e.g. 2 (required)" required autofocus [(ngModel)]="numberOfDevice">
                </div>
                <div class="form-group">
                    <label for="deviceType"><span>Device Type</span></label>
                    <input type="text" class="form-control" id="deviceType" name="deviceType"
                        placeholder="e.g. c8y_beacon (optional)" [(ngModel)]="deviceType">
                </div>
            </form>
        </div>
        <div class="c8y-wizard-footer">
            <button class="btn btn-default" (click)="isGroup = false; wizard.selectStep('device'); ">Back</button>
            <button class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
            <button class="btn btn-primary" (click)="openSimulatorConfig()"
                [disabled]="!newSimulatorFormAddGroup.form.valid ">Next <i c8yIcon="chevron-right"></i> </button>
        </div>
    </wizard-step>
    <wizard-step stepId="select-group">
        <div class="modal-header text-center bg-primary" style="color: var(--brand-dark, #000);">
            <div style="font-size: 62px;">
                <span c8yIcon="c8y-simulator"></span>
            </div>
            <h4 class="text-uppercase" style="margin:0; letter-spacing: 0.15em;">Add Simulator</h4>
        </div>
        <div class="c8y-wizard-nav">
            <span>Select Group</span>
        </div>
        <hr style="margin:0;">
        <div class="modal-inner-scroll" style="min-height: 250px;">
            <form class="c8y-wizard-form" name="newSimulatorFormGroup" #newSimulatorFormGroup="ngForm">
                <div class="form-group">
                    <label for="groupId"><span>Group Name</span></label>
                    <device-selector id="groupId" name="groupId" [isGroup]="true" [(value)]="deviceName"
                        [placeHolder]="'Type your Group Name'" [required]="true"
                        (selectedDevice)="getSelectedDevice($event)"></device-selector>
                </div>
            </form>
        </div>
        <div class="c8y-wizard-footer">
            <button class="btn btn-default"
                (click)="isGroup = false;deviceId = '';deviceName = ''; wizard.selectStep('device'); ">Back</button>
            <button class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
            <button class="btn btn-primary" (click)="openSimulatorConfig()"
                [disabled]="!newSimulatorFormGroup.form.valid || deviceId === '' ">Next <i c8yIcon="chevron-right"></i>
            </button>
        </div>
    </wizard-step>
    <wizard-step stepId="select-device">
        <div class="modal-header text-center bg-primary" style="color: var(--brand-dark, #000);">
            <div style="font-size: 62px;">
                <span c8yIcon="c8y-simulator"></span>
            </div>
            <h4 class="text-uppercase" style="margin:0; letter-spacing: 0.15em;">Add Simulator</h4>
        </div>
        <div class="c8y-wizard-nav">
            <span>Select Device</span>
        </div>
        <hr style="margin:0;">
        <div class="modal-inner-scroll" style="min-height: 250px;">
            <form class="c8y-wizard-form" name="newSimulatorFormDevice" #newSimulatorFormDevice="ngForm">
                <div class="form-group">
                    <label for="deviceId"><span>Device Name</span></label>
                    <device-selector id="deviceId" name="deviceId" [(value)]="deviceName"
                        [placeHolder]="'Type your Device Name'" [required]="true"
                        (selectedDevice)="getSelectedDevice($event)"></device-selector>
                </div>
            </form>
        </div>
        <div class="c8y-wizard-footer">
            <button class="btn btn-default"
                (click)="deviceId='';deviceName = ''; wizard.selectStep('device'); ">Back</button>
            <button class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
            <button class="btn btn-primary" (click)="openSimulatorConfig()"
                [disabled]="!newSimulatorFormDevice.form.valid || deviceId === '' ">Next <i c8yIcon="chevron-right"></i>
            </button>
        </div>
    </wizard-step>
    <wizard-step stepId="config">
        <div class="modal-header text-center bg-primary" style="color: var(--brand-dark, #000);">
            <div style="font-size: 62px;">
                <span c8yIcon="c8y-simulator"></span>
            </div>
            <h4 class="text-uppercase" style="margin:0; letter-spacing: 0.15em;">Add Simulator</h4>
        </div>
        <div class="c8y-wizard-nav">
            <span>{{selectedStrategyFactory ? selectedStrategyFactory.getSimulatorMetadata().name : ''}} Simulator
                Config</span>
        </div>
        <hr style="margin:0;">
        <div class="modal-inner-scroll">
            <form class="c8y-wizard-form" name="newSimulatorForm" #newSimulatorForm="ngForm">
                <div class="form-group"
                    *ngIf="!selectedStrategyFactory || !selectedStrategyFactory.getSimulatorMetadata().hideSimulatorName">
                    <div class="d-flex"><label for="name"><span>Name</span></label><span style="margin-top: 2px;"><i *ngIf="isduplicateSmulatorName" style="color: red; margin-left: 5px;" c8yIcon="error" title="Simulator name already exists"></i></span></div>
                    <input type="text" class="form-control" [class.ng-invalid]="isduplicateSmulatorName === true" id="name" name="name"
                        placeholder="e.g. My First Simulator (required)" required autofocus [(ngModel)]="simulatorName" (keyup)="validateSimulatorName()">
                </div>
                <div *ngIf="isMSFCheckSpin" style="text-align: center;">
                    <c8y-loading></c8y-loading>
                </div>
                <div class="form-group" *ngIf="isMSExist && !isCSVSimulator">
                    <label class="c8y-switch">
                        <input type="checkbox" [(ngModel)]="runOnServer" (change)="toggleRunOnServer($event)"
                            id="serverSideFlag" name="serverSideFlag" />
                        <span></span>Run on Server
                    </label>
                </div>

                <div *ngIf="!isMSCheckSpin && !isMSExist && isCSVSimulator"
                    style="margin-bottom: 5px; text-align: center; color:red;">Microservice "csv-simulator-ms" must be
                    subscribed and running!</div>
                <ng-container #configWrapper></ng-container>
            </form>
        </div>
        <div class="c8y-wizard-footer">
            <button class="btn btn-default"
                (click)="isGroup = false;isCSVSimulator = false; wizard.selectStep('device');resetDialogSize()">Back</button>
            <button class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
            <button class="btn btn-primary"
                [disabled]="busy || !newSimulatorForm.form.valid || (!isMSCheckSpin && !isMSExist && isCSVSimulator) || isduplicateSmulatorName"
                (click)="saveAndClose()">Save</button>
        </div>
    </wizard-step>
</wizard>