/deep/ .simulator-body-theme {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)) var(--brand-primary, #1776bf);
  --body-background-color: var(--brand-primary, #1776bf);
}

.label-color {
  color: var(--navigator-active-color, #000);
}

.card-color {
  background: var(--brand-primary);
  color: var(--navigator-active-color);
}