<ng-select #select [items]="items" [ngModel]="value" (ngModelChange)="valueChange.emit($event)" [appendTo]="(appendTo ?  appendTo : 'body')" [clearable]="false" [virtualScroll]="true" (open)="opened(select)" bindLabel="name" bindValue="className">
    <ng-template ng-label-tmp let-item="item">
        <i [c8yIcon]="item.className" style="margin-right: 5px"></i>
        <span>{{item.name}}</span>
    </ng-template>

    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <i [c8yIcon]="item.className" style="margin-right: 5px"></i>
        <span>{{item.name}} ({{item.className}})</span>
    </ng-template>
</ng-select>
