<c8y-title>Widget Catalog</c8y-title>
    <div *ngIf="isBusy" class="col-xs-12 col-sm-12 col-md-12" style="padding-bottom:50px;padding-top:20px">
        <rectangle-spinner  style="position: relative; left: 47%;">
        </rectangle-spinner>
    </div>
    <div class="card-group interact-grid" *ngIf="!isBusy">
        <ng-template #itemTemplate let-item="item" let-index="index">
            <div class="text-warning" [ngSwitch]="item.value.actionCode" >
                <button class="btn btn-clean btn-icon btn-md" title="Update" *ngSwitchCase="'001'">
                    <i c8yIcon="cloud-upload" class="action-icon" (click)="updateWidget(item.value, false)"></i>
                </button>
                <button class="btn btn-clean btn-icon btn-md" title="Update (Not Compatible)" *ngSwitchCase="'002'">
                    <i c8yIcon="level-up" class="action-icon" (click)="updateWidget(item.value, false)"></i>
                </button>
                <button class="btn btn-clean btn-icon btn-md" title="Refresh" *ngSwitchCase="'003'">
                    <i c8yIcon="refresh" class="action-icon text-info" (click)="refresh()"></i>
                </button>
                <button class="invisible btn btn-clean btn-icon btn-md" title="Refresh" *ngSwitchDefault>
                    <i c8yIcon="refresh" class="action-icon text-info" (click)="refresh()"></i>
                </button>
            </div>
            <div class="widget-icon" ><i [c8yIcon]="item.value.icon"></i></div>
            <div class="col col-overflow" title="{{item.value.title}}">{{item.value.title}}<i *ngIf="!item.value.isCompatible || item.value.isDeprecated" title="This widget may not compatible or deprecated!" c8yIcon="warning" class="warning-icon text-warning" ></i></div>
            <div class="col col-overflow" title="{{item.value.version}}" >{{item.value.version}}</div>
            <div class="col col-overflow" title="{{item.value.installedVersion}}" >{{item.value.installedVersion ? item.value.installedVersion : 'Not Available'}}</div>
            <div class="col col-overflow" title="{{item.value.license}}">{{item.value.license}}</div>
            <div class="col col-overflow" title="{{item.value.author}}">{{item.value.author}}</div>
            <div class="text-info">
                <button class="btn btn-clean btn-icon btn-md" title="Preview" [disabled] = "!item.value.preview" ><i c8yIcon="eye" class="action-icon-button" (click)="preview(item.value.preview)"></i></button></div>
            <div class=" text-info" >
                <button class="btn btn-clean btn-icon btn-md"  title="Documentation" [disabled] = "!item.value.repository" ><i c8yIcon="document-with-code" class="action-icon-button" (click)="openDocumentation(item.value.repository)"></i></button></div>
            
            <div *ngIf="userHasAdminRights"  class="text-warning" [ngSwitch]="item.value.actionCode" >
                <div class="action-icon " title="Refresh" *ngSwitchCase="'003'">
                    <i c8yIcon="refresh" class="action-icon text-info" (click)="refresh()"></i>
                </div>
                <div class="action-icon text-danger" title="Uninstall Widget" *ngSwitchDefault><i c8yIcon="minus-circle" (click)="uninstallWidget(item.value)"></i></div>
            </div>
        </ng-template>

        <div class="card-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                       <!-- Search -->
                        <div id="searchWidget" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 input-group input-group-search">
                            <input
                            type="search"
                            class="form-control"
                            placeholder="Search widget..."
                            [(ngModel)]="searchWidget"
                            (keyup)="applyFilter()"
                            />
                            <span class="input-group-addon">
                            <i c8yIcon="search" *ngIf="!searchString || searchString.length === 0"></i>
                            <i
                                c8yIcon="times"
                                class="text-muted"
                                *ngIf="searchWidget && searchWidget.length > 0"
                                (click)="searchWidget = '';applyFilter() "
                            ></i>
                            </span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                                <button class="btn btn-link pull-right" id="refresh-widget" (click)="reload()">
                                    <i c8yIcon="refresh"></i> Reload
                                </button>
                                <button *ngIf="userHasAdminRights && filterWidgets?.length" class="btn btn-link pull-right" id="uninstall-widget" (click)="unInstallAllWidgets()">
                                    <i c8yIcon="uninstall-programs" style="font-size: 16px;"></i> Uninstall all
                                </button>
                                <button *ngIf="userHasAdminRights && isUpdateRequired" class="btn btn-link pull-right" id="update-widget" (click)="updateAll()">
                                    <i c8yIcon="cloud-upload" style="font-size: 16px;"></i> Update all
                                </button>
                               <!--  <label class="c8y-switch pull-right" title="Select Multiple">
                                    <input type="checkbox" />
                                    <span></span> Select multiple
                                  </label> -->
                        </div>
                        
                    </div>
                    <hr />
                    <div class="card-block">
                        <div class="c8y-empty-state text-center" style="flex-direction: column; align-items: center;"
                            *ngIf="!widgetCatalog?.widgets?.length">
                            <h1 c8yIcon="package" class="c8y-icon-duocolor" style="font-size: 90px;"></h1>
                            <h3>No Widget to list.</h3>
                            <p>Please Install widgets.</p>
                        </div>
                        <div class="c8y-empty-state text-center" style="flex-direction: column; align-items: center;"
                            *ngIf="widgetCatalog?.widgets?.length && !filterWidgets?.length">
                            <h3>No Widget to list.</h3>
                        </div>
                        <ng-container *ngIf="filterWidgets?.length">
                            <div class="sortable-grid-header">
                                <div class="invisible widget-icon text-primary" style="width: 20px;" >
                                    <button class="invisible btn btn-clean btn-icon btn-md">
                                        <i c8yIcon="refresh" class="action-icon" ></i>
                                    </button>    
                                </div>
                                <div class="invisible widget-icon"><i class="fa custom-icon-drag-handle"></i></div>
                                <div class="col" style="margin-left: 25px;">Widget</div>
                                <div class="col">Latest Version</div>
                                <div class="col">Current Version</div>
                                <div class="col">License</div>
                                <div class="col">Author</div>
                                <div class="invisible widget-icon text-info"  style="width: 20px;"><i [c8yIcon]="eye"></i></div>
                                <div class="invisible widget-icon text-success" style="width: 20px;"><i [c8yIcon]="external-link"></i></div>
                                <div class="invisible widget-icon text-success" style="width: 20px;"><i [c8yIcon]="minus-circle"></i></div>
                            </div>
                            <bs-sortable [ngModel]="filterWidgets" [itemTemplate]="itemTemplate"
                                itemClass="sortable-item" itemActiveClass="sortable-item-active"
                                wrapperClass="sortable-grid" ></bs-sortable>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>