<c8y-title>Applications</c8y-title>

<div class="card-group interact-grid">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" style="min-height: 194px;" *ngIf="userHasAdminRights">
        <button (click)="createAppWizard()" class="card add-card" id="addApplication">
            <i  style="font-size: 36px;" c8y-icon="plus-circle" class="text-muted dlt-c8y-icon-plus-circle"></i>
            <br>Add application
        </button>
    </div>
    <div class="c8y-empty-state text-center" style="max-width:100%; flex-direction: column; align-items: center;" *ngIf="!isBusy && !applications.length">
        <h3>No application to list.</h3>
    </div>
    <ng-container *ngIf="applications && applications.length > 0">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" *ngFor="let app of applications">
            <div class="card clickable" (click)="openApp(app)">
                <div class="card-actions m-t-0">
                    <div class="dropdown" dropdown (click)="$event.stopPropagation()" *ngIf="userHasAdminRights">
                        <button title="Settings" id="appSettings-{{app.name}}" class="dropdown-toggle c8y-dropdown" dropdownToggle type="button">
                            <i c8yIcon="ellipsis-v"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu role="menu">
                            <li role="menuitem">
                                <button type="button" title="Edit" (click)="openApp(app, '/config')">
                                    <i c8yIcon="edit" ></i><span> Edit</span>
                                </button>
                            </li>
                            <li role="menuitem">
                                <button type="button" id="{{app.name}}-deleteApp" title="Remove" (click)="deleteApplication(app.id)">
                                    <i c8yIcon="times" ></i> <span> Remove</span>
                                </button>
                            </li>
                            <li role="menuitem" *ngIf="!isBlueprintApp(app)">
                                <button type="button" id="{{app.name}}-deployBlueprintForge" title="Deploy with Blueprint Forge" (click)="deployWithBlueprintForge(app)">
                                    <i c8yIcon="deploy" ></i> <span> Deploy with Blueprint Forge</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-block text-center" style="margin-bottom: 5px;">
                    <h1 style="margin: 15px 0 10px; font-size: 42px;"><c8y-app-icon [app]="app"></c8y-app-icon></h1>
                    <p style="word-wrap: break-word;" class="e2e-appCardName">{{app.name}}</p>
                </div>
                <div class="card-block text-center">
                    <button *ngIf="!isBlueprintApp(app)" placement="top" class="btn-clean" title="Application Builder App">
                        <span class="label label-info"> Application Builder app </span>
                    </button>
                    <button *ngIf="isBlueprintApp(app)" placement="top" class="btn-clean" title="Blueprint Forge App">
                        <span class="label label-success"> Blueprint Forge App </span>
                    </button>
                </div>
                <div class="card-actions-group">
                    <a class="clickable" id="OpenApp-{{app.name}}" >
                        <i c8yIcon="external-link"></i> Open
                    </a>
                </div>
            </div>
        </div>
    </ng-container>
</div>
